<mat-card>
  <mat-card-title>Exercises</mat-card-title>
  <mat-card-content>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip routerLink="products">
        Product list
      </mat-chip>
      <mat-chip routerLink="categories">
        Category list
      </mat-chip>
      <mat-chip routerLink="crypto">
        Crypto chips list
      </mat-chip>
      <mat-chip routerLink="public-holidays">
        Public holidays select
      </mat-chip>
      <mat-chip routerLink="checkbox-categories">
        Categories checkbox
      </mat-chip>
      <mat-chip routerLink="categories-menu">
        Categories menu
      </mat-chip>
    </mat-chip-list>

  </mat-card-content>
</mat-card>
